
@import url('https://fonts.google.com/specimen/Dancing+Script?query=dancing');

html {
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa; /* Celeste claro */
    text-align: center;
}

:root {
    --primary-color: #3498db; /* Azul */
    --dark-color: #e0f7fa;
    --light-color: #fff;
    --celeste-claro: #e0f7fa; /* Celeste claro */
    --celeste-medio: #81d4fa; /* Celeste medio */
    --celeste-oscuro: #0288d1; /* Celeste oscuro */
}

h1{
    display: inline-block;
    position: relative;
    color: pink;
    font-family: 'Dancing Scrip`t', cursive;
}

h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: var(--celeste-oscuro);
    top:0.6em;
}

h1::before{
    left: -140px;
}
h1::after{
    right: -140px;
}



.main-content {
    background-color: black;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    
    color: var(--celeste-oscuro);
}

/* Features Section */
.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--light-color);
    border-radius: 1rem;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-feature i {
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--celeste-oscuro);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

/* Products Section */
.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    color: var(--dark-color);
    background-color: var(--celeste-claro);
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-options span:hover {
    background-color: var(--celeste-medio);
    color: var(--light-color);
}

.container-options span.active {
    background-color: var(--celeste-oscuro);
    color: var(--light-color);
}

/* Products */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
}

.card-product {
    background-color: var(--light-color);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-img {
    position: relative;
}

.container-img img {
    width: 100%;
    border-radius: 0.5rem;
}

.container-img .discount {
    position: absolute;
    left: 0;
    background-color: var(--celeste-oscuro);
    color: var(--light-color);
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount {
    background-color: var(--dark-color);
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}

.button-group span {
    border: 1px solid var(--primary-color);
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover {
    background-color: var(--primary-color);
}

.button-group span i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i {
    color: var(--light-color);
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover {
    color: var(--primary-color);
}

.add-cart {
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover {
    background-color: var(--primary-color);
}

.add-cart i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i {
    color: var(--light-color);
}

.content-card-product .price {
    justify-self: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}

/* Categories Section */
.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    background-color: var(--celeste-medio);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.card-category p,
.card-category span {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--light-color);
    z-index: 1;
}

.card-category p {
    font-size: 2.5rem;
	color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after {
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: var(--light-color);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 1.6rem;
	color: #fff;
    cursor: pointer;
}

.card-category span:hover {
    color: var(--primary-color);
}

/* Specific Category Styles */
.category-machu-picchu,
.category-amazonas,
.category-lago-titicaca,
.category-marcahuasi,
.category-manu,
.category-choquequirao {
    background-size: cover;
    background-repeat: no-repeat;
}

.category-machu-picchu {
    background-image: linear-gradient(#00000080, #00000080), url('img/machu_picchu.jpg');
    background-position: bottom;
}

.category-amazonas {
    background-image: linear-gradient(#00000080, #00000080), url('img/amazonas.jpg');
    background-position: center;
}

.category-lago-titicaca {
    background-image: linear-gradient(#00000080, #00000080), url('img/lago_titicaca.jpg');
    background-position: center;
}

.category-marcahuasi {
    background-image: linear-gradient(#00000080, #00000080), url('img/marcahuasi.jpg');
    background-position: center;
}

.category-manu {
    background-image: linear-gradient(#00000080, #00000080), url('img/manu.jpg');
    background-position: center;
}

.category-choquequirao {
    background-image: linear-gradient(#00000080, #00000080), url('img/choquequirao.jpg');
    background-position: center;
}
