body {
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    flex-direction: column; 
}

.faq-container {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px;
}

.preguntas {
    margin-bottom: 30px;
    color: #ffc300;
    font-size: 40px;
}

.faq-item {
    margin-bottom: 50px;
    text-align: left;
}

.faq-item summary {
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    color: #003333;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item p {
    margin: 10;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 23px;
    justify-content: center;
}
