<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaqueteControlador</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.PaqueteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvADMIPaquete</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvADMIPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPromocion</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRegistroUsuario</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporteUsuarios</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.reporteUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvActualizarUsuario</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReporteUsuarios</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvReporteUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReportePDF</servlet-name>
        <servlet-class>com.mycompany.viveyatravel.controladores.srvReportePDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaqueteControlador</servlet-name>
        <url-pattern>/PaqueteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvADMIPaquete</servlet-name>
        <url-pattern>/srvADMIPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPromocion</servlet-name>
        <url-pattern>/srvPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRegistroUsuario</servlet-name>
        <url-pattern>/srvRegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporteUsuarios</servlet-name>
        <url-pattern>/reporteUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvActualizarUsuario</servlet-name>
        <url-pattern>/srvActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReporteUsuarios</servlet-name>
        <url-pattern>/srvReporteUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReportePDF</servlet-name>
        <url-pattern>/srvReportePDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
